/* src/components/Navbar/Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #272727; /* Tomato color */
    color: #dcd0c0;
  }
  
  .navbar-logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dcd0c0;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #f1e7bc; /* Highlight color */
  }
  